<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tildev.mapper.UserInfoMapper">

    <select id="getTime" resultType="string">
        select now();
    </select>

    <insert id="insertUserInfo">
        insert into USER_INFO (user_id, user_pw,
        user_name,
        user_email)
        values(#{userId}, #{userPw}, #{userName}, #{userEmail})
    </insert>

    <select id="selectUserInfo"
        resultType="com.tildev.web.domain.UserInfoVO">
        select * from USER_INFO where user_id=#{userId}
    </select>

    <select id="readWithPw"
        resultType="com.tildev.web.domain.UserInfoVO">
        select * from USER_INFO where user_id=#{userId} and
        user_pw=#{userPw}
    </select>
</mapper>
